.locate{
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 3rem;
}

.returnButton{
    position: absolute;
    top: 5%;
    left: 10px;
    display: flex;
    width: 10%;
    justify-content: flex-start;
    align-items: center;
}
    .returnButton i{
        margin-left: 3px;
        margin-right: 20px;
        font-size: 3rem;
        transition-duration: .2s;
    }
    .returnButton i:hover{
        color: red;
        transition-duration: .2s;
    }

.loadingScreen{
    display: flex;
    background-color: rgb(21, 54, 65);
}