@keyframes textUp {
    from {
        opacity: 0;
        transform: translate(-20px, 100px)
    }
    to {
        opacity: 100;
        transform: translate(0)
    }
  }

.questionsPopUpContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
    .questionsPopUp{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: rgb(27, 25, 25);
        width: 50%;
        height: 70%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
    }
        .questionsContentContainer{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 5%;
            align-items: center;
            box-sizing: border-box;
        }
        .questionsContentContainer .firstHalf{
            display: flex;
            flex-direction: column;
            overflow-y: scoll;
            height: 50%;
            width: 100%;
        }
            .questionsPopUpHeadshot{
                align-self: center;
                width: 50px;
                height: 50px;
                margin-bottom: 5px;
            }
            .questionsContentContainer .name{
                font-size: .7rem;
                align-self: center;
            }
            .questionsContentContainer .userText{
                border-bottom-left-radius: 0;
                padding: 10px;
                box-sizing: border-box;
                align-self: flex-start;
                margin-left: 5px;
                margin-top: 20px;
                font-weight: 2;
                border-radius: 20px;
                border-bottom-left-radius: 0;
                width: 50%;
                background-color: rgba(26, 119, 139, 0.7);
                color: white;
            }

            .questionsContentContainer .myText{
                animation-name: textUp;
                animation-duration: .5s;
                padding: 10px;
                box-sizing: border-box;
                align-self: flex-end;
                margin-left: 5px;
                margin-top: 20px;
                font-weight: 2;
                border-radius: 20px;
                border-bottom-right-radius: 0;
                width: 50%;
                background-color: rgba(22, 131, 36, 0.7);
                color: white;
            }

        .questionsContentContainer .secondHalf{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 50%;
        }
            .automatedResponsesContainer{
                height: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
                .automatedResponse{
                    background-color: rgba(22, 131, 36, 0.7);
                    width: 20%;
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    color: white;
                    border-bottom-right-radius: 0;
                    padding: 10px;
                    transition-duration: .3s;
                }
                .automatedResponse:hover{
                    background-color: rgba(22, 131, 36, 0.9);
                    transition-duration: .3s;
                }
            .questionsContentContainer form{
                margin-top: 40px;
                width: 73%;
                display: flex;
                justify-content: flex-start;
                height: 10%;
            }
            .questionsContentContainer input{
                width: 90%;
                border: 0;
                border-radius: 20px;
                padding: 3px;
                border: 1px solid rgba(26, 119, 139, 0.7);
                background-color: rgb(39, 36, 36);
                font-family: 'Roboto', sans-serif;
                padding-left: 10px;
            }
            .questionSubmitButton{
                width: 10%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                background-color: inherit;
            }
                .questionSubmitButton i{
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color:rgba(22, 131, 36, 0.7);
                    transition-duration: .4s;
                }
                    .questionSubmitButton i:hover{
                        color: black;
                        transition-duration:.4s;
                    }

@media only screen and (max-width: 800px) {
    .questionsPopUp{
        width: 90%;
        height: 80%;
    }

    .automatedResponse{
        font-size: .8rem;
    }
}

